body {
	background: #555;
}

.content {
	padding: 0;
	display: block;
	background: #111;
	border: 0.5px solid #eee;
	margin: 0 auto;
	width: 90%;
	min-width: 1100px;
	border-radius: 5px;
}

.row {
	padding: 10px;
	font-family: Helvetica;	
	background: #dde;
	border: 0.2px solid #eff;
	border-radius: 3px;
}

#label {
	display: block;
	margin-top: 5px;
	font-weight: bold;
	font-size: 1em;
}

h3 {
	font-family: sans-serif;
	display: block;
	text-align: center;
	color: #dff;
}

pre {
	margin-top: -5px;
	padding-left: 10px;
}

.footer {
	margin-top: 10px;
	width: 100%;
	text-align: center;
	font-family: Tahoma;
	font-size: 0.5em;
	color: #eef;
}
